.pageDicription {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 500px) {
  .pageDicription {
    width: 80%;
  }
}

.pageDicription > img {
  width: 180px;
  margin-bottom: 40px;
}

.pageDicription > h2 {
  font-weight: 400;
  line-height: 35px;
  color: var(--color_default);
  position: relative;
}

.pageDicription > h2::after {
  content: "";
  width: 80px;
  height: 3px;
  border-radius: 5px;
  position: absolute;
  background-color: var(--color_topBg);
  bottom: -20px;
  right: 50%;
  transform: translate(50%, -50%);
}

.allPortfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1000px) {
  .allPortfolio {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .allPortfolio {
    grid-template-columns: 1fr;
  }
}
